.changepasstitulo{
    text-align: center;
    font-family: Georgia, serif;
    color: #8F6F24;
  }
  .titulochange{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #26429590;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 25px;
  }
  .cambiarpassword {
    border: #A471CA solid 0.3em;
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
    background-color: #93C5F3;
  }
  @media (min-width:728px){
    .cambiarpassword{
      background-image: url(../images/contra2.png);
      background-size: cover;
      min-height: 68vh;
    }
    .formuchangepassword{
      font-size: 20px;
    }
  }