.section{
    padding: 0.1em;
    background-color: rgba(238, 246, 252, 1);
    width: 100%;
  }
  .eslogan{
    text-align: center;
    width: 100%;
  }
  .eslogan h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
  }
  .eslogan2{
    background-color: white;
    padding: 0.5em;
    width: 100%;
  }
  .eslogan2 h2{
    font-weight:bold;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  .imagenqr{
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
  }
  .qrImagen{
    width: 100%;
    margin-right: 5em;
  }
  
  .desplegableSlide{
  
    text-align: center;
  }
  .buttondesp{
   background-color: white;
   border: rgba(185, 20, 0, 1) 0.15em solid;
   color: rgba(185, 20, 0, 1);
   font-size: 24px;
   border-radius: 18px;
   padding: 0.5em;
   width: 300px;
   box-shadow: 6px 6px grey;
  
  }
  .login{
    padding: 0.3em;
    margin-top: 0.3em;
    background-color: white;
    color: rgba(185, 20, 0, 1);
    text-align: center;
    
  }
  .textlogin{
    font-size: 10px;
  }
  .acceso{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1em;
  
  }
  .userLogin{
    font-size:100px;
    margin-left: 60px;
  }
  .buttonacces{
    width: 100px;
    height: 50px;
    background-color:  rgba(185, 20, 0, 1);
    border: white(185, 20, 0, 1) 0.2em solid;
    color:white ;
    font-size: 20px;
    border-radius: 10px;
  
  }

@media (min-width: 760px){
  .section{
    padding: 0.1em;
    background-color: rgba(238, 246, 252, 1);
  }
  .eslogan{
    text-align: center;
  }
  .eslogan h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  .eslogan2{
    background-color: white;
    padding: 0.5em;
  }
  .eslogan2 h2{
    font-weight:bold;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  .imagenqr{
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .qrImagen{
    width: 100%;
    margin-right: 5em;
  }
  
  .desplegableSlide{
  
    text-align: center;
  }
  .buttondesp{
   background-color: white;
   border: rgba(185, 20, 0, 1) 0.15em solid;
   color: rgba(185, 20, 0, 1);
   font-size: 24px;
   border-radius: 18px;
   padding: 0.5em;
   width: 300px;
   box-shadow: 6px 6px grey;
  
  }
  .login{
    padding: 0.3em;
    margin-top: 0.3em;
    background-color: white;
    color: rgba(185, 20, 0, 1);
    text-align: center;
    
  }
  .textlogin{
    font-size: 10px;
  }
  .acceso{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1em;
  
  }
  .userLogin{
    font-size:100px;
    margin-left: 60px;
  }
  .buttonacces{
    width: 100px;
    height: 50px;
    background-color:  rgba(185, 20, 0, 1);
    border: white(185, 20, 0, 1) 0.2em solid;
    color:white ;
    font-size: 20px;
    border-radius: 10px;
  
  }
}


@media (min-width: 992px) {
  .section{
    padding: 0.1em;
    background-color: rgba(238, 246, 252, 1);
  }
  .eslogan{
    text-align: center;
  }
  .eslogan h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  .eslogan2{
    background-color: white;
    padding: 0.5em;
  }
  .eslogan2 h2{
    font-weight:bold;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  .imagenqr{
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .qrImagen{
    width: 100%;
    margin-right: 5em;
  }
  
  .desplegableSlide{
  
    text-align: center;
  }
  .buttondesp{
   background-color: white;
   border: rgba(185, 20, 0, 1) 0.15em solid;
   color: rgba(185, 20, 0, 1);
   font-size: 24px;
   border-radius: 18px;
   padding: 0.5em;
   width: 300px;
   box-shadow: 6px 6px grey;
  
  }
  .login{
    padding: 0.3em;
    margin-top: 0.3em;
    background-color: white;
    color: rgba(185, 20, 0, 1);
    text-align: center;
    
  }
  .textlogin{
    font-size: 10px;
  }
  .acceso{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1em;
  
  }
  .userLogin{
    font-size:100px;
    margin-left: 60px;
  }
  .buttonacces{
    width: 100px;
    height: 50px;
    background-color:  rgba(185, 20, 0, 1);
    border: white(185, 20, 0, 1) 0.2em solid;
    color:white ;
    font-size: 20px;
    border-radius: 10px;
  
  }
}


.par{
  color:red;
}

body{
  margin:0;
}