/* infoInstitucional.module.css */
.flexContainer {
    display: flex;
    flex-direction: row;
  }
  
  .buttonContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .buttonContainer .btn {
    margin-bottom: 10px;
  }
  
  .contentContainer {
    flex: 2;
    padding: 20px;
  }
  