.containerpaginas {
    margin: 1em 20em 1em 20em;
    text-align: justify;
    font-family: Georgia, serif; 
}
.h1pages {
    color: #8F6F24;
    font-family: Georgia, serif;
    text-align: center;
}
.h2pages {
    color: #8F6F24;
    font-family: Georgia, serif;
}
