.banneruser{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    }
.banneruser p{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border:#A471CA solid 0.1em;
    color: aliceblue;
}