.card{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.eslogan{
  text-align: center;
  width: 100%;
}
.eslogan h3{
  font-family: Georgia, serif;
  font-size: 20px;
}
.eslogan2{
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: Century Gothic, serif;
}
.eslogan2 h2{
  font-weight:bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.qrimagen{
  width:100%;
text-align: center;
width: 750px;
height:370px;
background-image: url('../images/usos.png');
background-size: contain;
}
.desplegableSlide{
  text-align: center;
}
@media (min-width:728px){
  .card{
    min-height: 30vh;
}
.qrimagen{
  width:100%;
text-align: center;
width: 650px;
height:370px;
}
.buttondeps{
  margin-top: 2em;
}
}