.card{
  justify-content: center;
  align-items: center;
  width: 100%;
}
.eslogan{
  text-align: center;
  width: 100%;
}
.eslogan h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  
}
.eslogan2{
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.eslogan2 h2{
  font-weight:bold;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.qrimagen{
text-align: center;
width: 450px;
height:170px;
}

.desplegableSlide{
  text-align: center;
}

@media (min-width:728px){
  .card{
    min-height: 5vh;
}
.qrimagen{
text-align: center;
width: 350px;
height:170px;
}

}