.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, .1fr));
  grid-gap: 8px;
}
.card-grid div{
margin-left: 0.5em;
}
.card-list {
  display: flex;
  flex-direction:column;
  font-size: 15px;
  justify-content: center;
}
.card-list div{
  display: flex;
  flex-direction:row;
  width: 100%;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
}
.card-list .qrid{
  font-size: 20px;
  width: 100%;
}
.card-list .descripcion .qrdes{
  font-size: 20px;
  width: 100%;
}
.card-list .descripcion .qrnombre{
  font-size: 20px;
  width: 100%;
}
.card-list .descripcion .qrdata{
  font-size: 20px;
  width: 100%;
}
.card-list .descripcion .qrcreat{
  font-size: 20px;
  width: 100%;
}
.card-list .descripcion .qrdate{
  font-size: 20px;
  width: 100%;
}
.card-list .socialqr li{
  width: 100%;
}
.card-list .solution_card {
  width: 100%;
  margin-bottom: 16px;
}
.section_our_solution .row {
  align-items: center;
}
.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
              0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 255px;
  width: 350px;
  transition: 0.7s;
}
.solution_cards_box .solution_card.expanded {
  min-height: 600px; /* Ajusta según sea necesario */
  margin-bottom: 30px; /* Añadir más espacio en la parte inferior cuando la tarjeta está expandida */
}
.card-list .solution_cards_box .solution_card.expanded{
  min-height: 100px; /* Ajusta según sea necesario */
  min-width: 800px;
  margin-bottom: 30px; /* Añadir más espacio en la parte inferior cuando la tarjeta está expandida */
}
.solution_cards_box .solution_card:hover {
  background: #CF98F7;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}
.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}
.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}
.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}
.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #A030F0;
}
.solution_card .solu_title {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
}
.solution_card .solu_description {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.solution_card .solu_description .additional_info {
  font-size: 15px;
  margin-top: 15px;
}
.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #B142CA 0%,
    #C9A1F6 50%,
    #a342cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
  width: 150px;
  height: 50px;
  margin-top: 5px;
}
.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}
.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}
/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }
  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }
  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width:600px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, .1fr));
    grid-gap: 8px;
    justify-content: center;
  }
  .card-list {
    display: flex;
    flex-direction:column;
    font-size: 8px;
  }
  .card-list div{
    display: flex;
    flex-direction:row;
    width: 100%;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .card-list .qrimage{
    width: 100%;
  }
  .card-list .qrid{
    font-size: 10px;
    width: 100%;
  }
  .card-list .descripcion .qrdes{
    font-size: 10px;
    width: 100%;
  }
  .card-list .descripcion .qrnombre{
    font-size: 10px;
    width: 100%;
  }
  .card-list .descripcion .qrdata{
    font-size: 10px;
    width: 100%;
  }
  .card-list .descripcion .qrcreat{
    font-size: 10px;
    width: 100%;
  }
  .card-list .descripcion .qrdate{
    font-size: 10px;
    width: 100%;
  }
  .card-list li .socialqr{
    width: 100%;
    font-size: 10px;
  }
}