.cardi{
  justify-content: center;
align-items: center;
width: 100%;
}

.eslogani{
width: 100%;
font-size: 30px;
padding: 1em;
color: #DC3545;
}
.eslogani h3{
font-family: 'Times New Roman', Times, serif;


}
.eslogani2{
background-color: #EEF6FC!important;
color: black!important;
padding: 0.5em;
width: 100%;
text-align: center;
font-size: 30px;
}
.eslogani2 h2{
font-weight:bold;  
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}