.cardi{
  justify-content: center;
align-items: center;

}
.imagenacceso{
height: 605;
width: 100%;
}

.buttonacceso{
display: absolute;
margin-Top:220px;
margin-Right:80px;
padding: 0.6em;
}
.buttonacceso p{
font-size: 14px;
}


.eslogani{
width: 100%;
font-size: 20px;
padding: .2em;
color: #264295;
border:#EEF6FC;
margin-Top:70px;
margin-Right:130px;
background-Color: #bcdbf3;
border-Radius:10px;
}


@media (min-width:728px){
.cardi{
  min-height: 70vh;
}
.imagenacceso{
height: 595px;
width: 100%;
}

.buttonacceso{
  display: absolute;
  margin-Top:340px;
  margin-Right:120px;
}
.buttonacceso p{
  font-size: 20px;
}

.eslogani{
width: 100%;
font-size: 30px;
padding: .2em;
color: #264295;
border:#EEF6FC;
margin-Top:100px;
margin-Right:130px;
background-Color: #bcdbf3;
border-Radius:10px;
margin-bottom: 3em;
}
}