.caption{
  background-color: rgba(0, 0, 0, 0.743)!important;
}
.itemcarrusel{
  background-color: #6d169c75 !important;
  text-align: center;
}
.carruseltext p{
    font-size: 20px;
    color: white;
}