.compartir-container {
  border: 5px solid #b91200af;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  font-Weight: bold;
}

.compartir-header {
  background-color: #b91200af;
  /* border: 2px solid black; */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.compartir-header p {
  margin: 0;
  color: white;
  font-size: 24px;
}

.compartir-icons {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  
}

.icon {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px; /* Ajusta el tamaño según sea necesario */
  object-fit: contain; /* Asegura que las imágenes mantengan su proporción */
}
.iconf{
  width: 45px;
  height: 45px;
}
