/* Móvil */
.footeri{
  background-color: #333;
}
.footerin{
  display: grid;
  grid-template-areas: 
    "s1 s2 s3"
    "s4 s4 s5"; 
  column-gap: 5px;
  padding: 0.5em;
  text-align: center;

}
 .footerlefti{
  grid-area: s1;
  width: 100%;
 }
 .footerlefti img{
  width: 150px;
  height: auto;
 }

.logoblancoi{
  grid-area: s2;
}
.logoblancoi img{
  width: 150px;
}
.logotiposi{
  grid-area: s3;
  align-self: center;
}
.logotiposi img{
  height: 30px;
  width: 30px;
}
.enlacesi{
  grid-area: s4;
text-align: center;
}
.compartiri{
  grid-area: s5;
}

.enlacesi a{
  color: rgb(233, 233, 233);
  text-decoration: none;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:normal;
  
}


@media (min-width: 728px){
.footeri{
  background-color: #333;
}
.footerin{
  
  display: grid;
  grid-template-areas: 
    "s1 s2 s3 s4 s5"; 
  column-gap: 25px;
  row-gap: 5px;
  padding: 0.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
 .footerlefti{
  grid-area: s1;
  width: 100%;
 } 
 .footerleft img{
  width: 100px;
  height: auto;
 } 
.logoblancoi{
  grid-area: s2;
  margin-right: 0.5em;
}
.logoblancoi img{
  width: 100px;
}
.logotiposi{
  grid-area: s3;
  align-self: center;
  margin-right: 2em;
}
.logotiposi img{
  height: 30px;
  width: 30px;
}
.enlacesi{
  grid-area: s4;
  margin: 0.5em;

}
.enlacesi a{
  color: rgb(233, 233, 233);
  text-decoration: none;
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:normal;
}


}