/* Móvil */
footer{
    color: #fff;
    background-color: #333;
  }
  .footercontainer {
    justify-content: space-between;
    align-items: center;
    background-color: #333;
  }
  /* .footer-left{ 
    grid-area: section1;
    justify-self: center;
  } */
  .footerleft img{
    width: 100px;
    height: auto;
  }
  /* .logoblanco{
    grid-area: section5;
    justify-self: center;
  } */
  .logoblanco img{
    width: 100px;
    height: auto;
  }
  .RRSS{
    grid-area: section2;
    margin-left: 10em;
  }
  .logotipos img{
    height: 30px;
    width: 30px;
  }
  .enlaces{
    grid-area: section3;
    justify-self: center;
  }
  .footerbottom{
    grid-area: section4;
    justify-self: start;
  }
  .footerbottom img{
    width: 500px;
  }
  /* .sepe{
    width: 1000px;
    height: auto;
    align-items: center;
  } */
  .enlaces a{
    color: rgb(233, 233, 233);
    text-decoration: none;
    font-size: 14px;
    /* margin: 0.5em; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:normal;
    text-align: left;
    text-align: justify;
  }
  @media (min-width: 728px){
    footer{
        background-color: #333;
        color: #fff;
    }
    .footercontainer {
        justify-content: space-between;
        align-items: center;
        display: grid;
        grid-template-areas: 
        "section1 section5 section2"
        "section3 . section4"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    
    }
    .footerleft{
        grid-area: section1;
        justify-self: center;
    }
    .footerleft img{
        width: 200px;
        height: auto;
    }
    .logoblanco{
        grid-area: section5;
        justify-self: center;
    }
    .logoblanco img{
        width: 200px;
        height: auto;
    }
    .logotipos{
        justify-self: center;
    }
    .rrss{
        grid-area: section2;
        
    }
    .enlaces{
        grid-area: section3;
        justify-self: center;
        
    }
    .footerbottom{
        grid-area: section4;
        justify-self: start;
        margin-right: 1em;
    }
    .footerright {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .enlaces a{
        color: rgb(233, 233, 233);
        text-decoration: none;
        font-size: 14px;
        /* margin: 0.5em; */
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight:normal;
        text-align: left;
    }
  }